In [4]:
from experiment_tracker.database import init_db
from experiment_tracker.inspect import DBInspector

In [5]:
session = init_db()
inspector = DBInspector(session)

In [ ]:
inspector.list_experiments()

,ID,Name,Start Time,Hidden Size,Max Samples,Final Train Acc,Final Val Acc,test,test_blurred
0,1,default,2025-02-13 07:54:58,128,NaN,0.922,0.918,NaN,NaN
1,2,default,2025-02-13 07:58:01,128,NaN,0.921,0.920,NaN,NaN
2,3,default,2025-02-13 08:01:15,128,NaN,0.919,0.917,0.925,0.866
3,4,default,2025-02-13 08:02:30,128,NaN,0.922,0.921,0.925,0.866
4,5,hidden2,2025-02-13 08:02:35,2,NaN,0.532,0.536,0.561,0.349
5,6,samples100,2025-02-13 08:02:40,128,100.0,0.287,0.200,0.164,0.119
6,7,blurred,2025-02-13 08:02:41,128,NaN,0.885,0.890,0.877,0.893

In [ ]:
exp_id = 4
inspector.get_experiment_details(exp_id)

Experiment 4: default

Configuration:
  batch_size: 64
  hidden_size: 128
  learning_rate: 0.01
  data_path: root/mnist_train.pt
  data_split_ratio: 0.8
  max_epochs: 10
  max_samples: None
  output_path: root/model_default.pth

Evaluation Results:
  test:
    Loss: 0.2681
    Accuracy: 0.9252
  test_blurred:
    Loss: 0.5813
    Accuracy: 0.8664

In [10]:
inspector.get_training_history(exp_id)

   Epoch Train Loss Train Acc Val Loss Val Acc Timestamp
0      1     1.3991    0.7064   0.7135  0.8423  08:02:31
1      2     0.5638    0.8635   0.4679  0.8776  08:02:31
2      3     0.4286    0.8858   0.3968  0.8898  08:02:31
3      4     0.3766    0.8962   0.3601  0.8992  08:02:32
4      5     0.3466    0.9028   0.3374  0.9042  08:02:32
5      6     0.3261    0.9085   0.3208  0.9095  08:02:33
6      7     0.3100    0.9125   0.3075  0.9133  08:02:33
7      8     0.2968    0.9157   0.2967  0.9152  08:02:33
8      9     0.2855    0.9191   0.2870  0.9176  08:02:34
9     10     0.2752    0.9224   0.2779  0.9213  08:02:34